.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('path-to-your-background-image.jpg'); */
  background-size: cover;
  background-position: center;
}

.app-title {
  color: #404459;
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
}
